@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {

  --font-nunito: 'Nunito Sans', sans-serif;
  --font-cantata: 'Cantata One', serif;
  --color-blue: #3564F2;
  --color-2blue: #012057;
  --color-navy: #0D2C54;
  --color-red: #F24835;
  --color-2red: #D30002;
  --color-dred: #D00000;
  --color-lightgreen: #BEF2C7;
  --color-darkgreen: #71981F;

  @keyframes fade-slide {
    0% { opacity: 0; transform: translateY(8px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-8px); }
  }
  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
  --animate-fade-slide: fade-slide 2.5s ease-in-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}